:root,
body {
    margin: 0;
    min-height: 100vh;
    padding: 0;
    }

* {
    box-sizing: border-box;
    }

body {
    display: flex;
    flex-direction: column;
    }

#content-area {
    flex-grow: 1;
    }

header {
    border-bottom: 1px dashed grey;
    padding: 0.3em 0.2em;
    }

